{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__CONFIG__": true,
    "__ENV__": true
  },
  "extends": ["airbnb", "eslint:recommended","plugin:prettier/recommended"],
  "plugins": ["react", "jsx-a11y", "import","prettier"],
  "parser": "babel-eslint",
    
  "rules": {
    "no-console": 0,
    "semi": 0,
    "no-unexpected-multiline": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/prop-types": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-param-reassign": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prefer-stateless-function": 0,
    "comma-dangle": 0,
    "object-curly-spacing": 1,
    "prettier/prettier": [
      "error", { "endOfLine": "auto" }
    ],
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/label-has-associated-control":0,
    "import/no-extraneous-dependencies": 0
  }
}
