@import "configs/color";
@import "configs/font-faces";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h6{
 color: #551a8b;

}


.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-left: 60px;
  margin-right: 60px;
}
.help-block {
  color: #ff0000;
}
.text-area {
  width: 900px;
  height: 400px;
}
.enter {
  margin-top: 20px;
}
.add-lesson {
  width: 700px;
}
.add-lesson select {
  height: 35px;
  width: 700px;
}
.add-lesson textarea {
  width: 700px;
}
.lesson-content {
    background: #fff;
    outline: none;
}
.frontpage-content__part {
    display: inline-block;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #9b6b6b;
    border-radius: 12px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 8px;

    text-align: center;
    color: #fff;
}
.list-title {
    list-style: none;
    border-bottom: 1px solid #ebebeb;
}
.list-title {
   margin-top: 20px;
}
.lesson-list{
margin-top: 14px;

}


.list-sub {
    font-size: 16px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3;
}
.lesson-id{

    font-size: 16px;
    line-height: 23px;
    padding: 0;

    margin-top: 30px;
}
.add-article {
  width: 700px;
}

.add-article textarea {
   width: 900px;
  height: 700px;
}

.articles-full{
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin-top: 30px;
  margin-left: 100px;
}
.articles-id{
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin-top: 30px;
  margin-left: 100px;

}
.lesson-chapter{


background-color: #e7bdbd;

}
.lesson-list {

margin: 0 30px;

}

.sidebar{
   margin: 0 2rem 0 0;

}

.sidebar-inner{
    overflow: auto;
    max-height: 100%;
    margin: 0 80px 0 -20px;


}
.sidebar-content{
  padding: 23px 0;
  font-size: 14px;
  background: #f5f2f0;
  min-height: calc(100vh - 50px);


}
.sidebar-nav-links{


    margin: 8px 0;
    display: block;

}

.sidebar-nav-link{
   list-style-type:none;
  line-height: 1.1;
    margin: 8px 0;
    color:#333;
}
.sidebar-nav-link a{
    color:#333;
}
.list-sub a{

  color:#333;
}

.list__lesson {

margin: 10px 0 10px 0;
padding: 10px 0 10px 0;
 border: 1px solid #0a92bb;
}
.searchform{

  height: 35px;

}
